@page
<head>
    <link rel="stylesheet" type="text/css" href="~/css/cards.css">
    <title>Card Grid</title>
  </head>
<body>
    <div id="card-grid"></div>
    <script src="~/js/addWords.js"></script>
    <script src="~/js/createGrid.js"></script>
</body>